<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LIST APP</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <div class="top-wrapper">
        <div class="top-detail">
            <h2 class="subtitle">買い物リストアプリ</h2>
            <h1 class="title">LIST APP</h1>
            <p class="description">
            LIST APPは、買い物をリストアップするサービスです。
            <br>
            買いたいものをリストに追加してみましょう。
            </p>
            <a class="index-button" href="/items">一覧を見る</a>
        </div>
        <div class="top-image">
            <img src="/images/top.png">
        </div>
        </div>
    </body>
</html>